body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

/* Body Header */

#body-header{
    height: 100vh;
    opacity: 0.8;
    background-image: url(image/it-background-5.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
    
}
/* image */
.image{
    height: 200px;
    width: 200px;
    align-items: center;
    position: center;
    padding: auto;
    border-radius: 50px;
}
/* Horizontal Lists */

.horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 1.2rem;
}


.horizontal-list li a{
    color: white;
    text-decoration: none;
}

.nav-menu li a{
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover{
    color: lightgrey;
    border-bottom: 1px solid black;
}

.text-center{
    text-align: center;
}

/* Name and Social Icons*/

#name-social-container{
    margin-top: 20vh;
}

#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


.social-icons li a i{
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 50%;
}


.social-icons li a i:hover{
    box-shadow: 0px 0px 4px 4px rgba(230, 196, 196, 0.3);
}
br{
    border-style: dotted;
    
}

/*Section Classes*/

section {
    width: 100%;
    /*height: 75vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}


section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}
/* about */
#about{
    height: auto;
    width: 100%;
    position: relative;
    
}

#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -60vh;
    margin-bottom: 25vh;
}

#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;

}
hr {
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
}

#about-para {
    padding: 10px;
    width: 70%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
}


/* skillbar */
.wrapper{
    width: 400px;
    margin:0 auto;
}
.skill {
    margin-bottom: 35px;
    position: relative;
    overflow-x:hidden;
        
}
.skill > p {
    font-size: 18px;
    font-weight: 700;
    color: #1a1716;
    margin: 0;
}
.skill:before{
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}
.skill-bar {
    width: 100%;
    height: 5px;
    background:#f4392f;
    display: block;
    position: relative;
}

/* SKILL 1 */
.skill1{
    width: 95%;
        
}
.skill-bar span{
    position: absolute;
    border-top: 5px solid #f4392f;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}
.skill-bar {
    position: relative;
        
}

.skill1 .skill-count1 {
    right: 0;
}
/* SKILL 2 */
.skill2{
    width: 85%;
}

.skill2 .skill-count2 {
    right: 0;
}
/* SKILL 3 */
.skill3{
    width: 75%;
}
.skill3 .skill-count3 {
    right: 0;
}

/* SKILL 4 */
.skill4{
    width: 65%
}

.skill4 .skill-count4 {
    right: 0;
}

/* SKILL 5 */
.skill5{
    width: 80%;
}

.skill5 .skill-count5 {
    right: 0;
}

/* SKILL 6 */
.skill6{
    width: 90%
}

.skill6 .skill-count6 {
    right: 0;
}
.title{
    text-align: center;
    
}
/*Timeline*/

.timeline {
    position: relative;
    width: 75%;
    border: 2px solid black;

}

.timeline-box {
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    border: 2px solid black;
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

/*Timeline*/

.timeline {
    position: relative;
    width: 75%;
    border: 2px solid black;

}

.timeline-box {
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    border: 2px solid black;
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -17%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;

}


.timeline-box:nth-child(2n)::after {
    content: '';
    position: absolute;
    top: 30%;
    left: -15%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;
}

.timeline-divider {
    position: absolute;
    height: 80%;
    width: 0;
    border: 3px dashed #0096fa6b;
    top: 10%;
    left: 50%;
}

.timeline-traveller {
    position: sticky;
    top: 30%;
    transform: rotate(90deg);
    z-index: 2;
}


/* Portfolio Section */

#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 50px;
    margin-bottom: 2%;
    justify-content: space-around;
}

.portfolio-image-container {
    
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.portfolio-image-container img {
    
    width: 100%;
    height: 100%;
}

.portfolio-details {
    
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
    
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    /* display: block; */
    color: rgba(0, 0, 0, 0.829);
}

   
/* Contact Form */

#contact {



    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
}

.my-details-info-container span {
    margin-left: 0.4rem;
    font-size: 0.95rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    /*#2857a4*/
    color: var(--contact-light-text-color);
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}



#contact-form button[type="submit"] {
    background: transparent;
    /*#1a1a1a;*/
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {

    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ff5722;
}


.mb-teal {
    background-color: #009688;
}

.mb-light-purple {
    background-color: #93738c;
}

.m-blue {
    color: #2857a4;
}

/*Common Percent classes*/
.eighty-percent {
    height: inherit;
    width: 80%;
}

.eighty-five-percent {
    height: inherit;
    width: 80%;
}

.seventy-five-percent {
    height: inherit;
    width: 75%;
}

/* common margin classes */
.m0 {
    margin: 0;
}
